body{
    font-family: 'Raleway', sans-serif;
}

.navbar{
    height: 64px;
    width: 100%;
}

.container{
    width: 60%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    min-width: 100%;
}

#navigation-container{
    display: block;
    
}

.navigation-title{
    font-weight: 100;
    font-size: 2.1rem;
    padding: 0;
}

.navigation-choices{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 5px;
}

.right{
    float: right!important;
}


/* IMAGE BREAKS */

#img-break-1{
    height: 100%;
    position: inherit;
    margin-top: 40px;
    background-image: url("../imgs/break1.jpg");
    background-size: cover;
    min-height: 25vh;

    color: white;
    /* parallax scrolling*/
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-break-2{
    height: 100%;
    position: inherit;
    margin-top: 40px;
    background-image: url("../imgs/break2.jpg");
    background-size: cover;
    min-height: 25vh;

    color: white;
    /* parallax scrolling */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Collapsed Menu */

.navbar-toggler{
    float: right;
    margin-top: 5px;
}

.navbar-collapse{
    background-color: #353a3f;
}

@media screen and (max-width: 576px) {
    .right{
        float: none!important;
    }
    .navbar-nav{
        width: 100%;
    }
}